.main-chat
  .message-info
    .group
      %h1.group__name
        = @group.name
      %p.group__member
        Member : 
        - @group.users.each do |user|
          = user.name
    .sub-btn
      = link_to edit_group_path(@group.id) do
        Edit

  .messages-list
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form-main
        .form-comment
          = f.text_field :body, class: 'form-comment__text', placeholder: 'type a message'
          = f.label :image, class: 'form-comment__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form-submit'