.side-bar 
  .side-top
    .user-data
      .user-data__nam
        = current_user.name
      .user-data__icon
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
       
  .groups-list
    .user-group
      .user-group__name
        teckcamp
      .user-group__message
        まだメッセージがありません

    .user-group
      .suse-group__name
        teckcamp
      .user-group__message
        まだメッセージがありません

    .user-group
      .suse-group__name
        teckcamp
      .user-group__message
        まだメッセージがありません

 